<p-panel header="Pipes básicos" [toggleable]="true" class="m-1 shadow-4">
  <p>Pipes incluídos en Angular - Usualmente en el CommonModule</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card class="shadow-4" header="uppercase">{{
      nameLower | uppercase
    }}</p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card class="shadow-4" header="lowercase">{{
      nameUpper | lowercase
    }}</p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card class="shadow-4" header="titlecase">{{
      fullName | titlecase
    }}</p-card>
  </div>
</div>
